# name : SimpleCADO.config
# description : Initial config file that ScopeSim will try to load
# author : Kieran Leschinski
# sources :
# date_created : 2019-05-29
# date_modified : 2019-05-29
# type : config:base
# status : Fun
#
# changes :
# - 2019-05-29 (KL) Initial file

SIM_DETECTOR_YAML           SimpleCADO_full_array.yaml
SIM_PIXEL_SCALE             0.004       # [arcsec]
OBS_DIT                     10          # [s]
