.idea/
_OLD_FILES/
_PSFs/
_ZIPPED_PACKAGES/
_Legacy_packages/
.pytest_cache/
*__pycache__
*php/
*ezphp.exe
to_be_processed/
_TO_BE_PROCESSED/
.ipynb_checkpoints/

*TEST.fits
*skycalc_temp.fits

build/
docs/build/
inst_pkgs/