numpy>=1.16
scipy
matplotlib==3.0.3
astropy

docutils
requests
beautifulsoup4
pyyaml

git+https://github.com/AstarVienna/ScopeSim.git@dev_master
# scopesim

jupyter_sphinx==0.2.3
numpydoc
sphinxcontrib-apidoc
sphinx==2.4
nbsphinx

# See https://github.com/sphinx-doc/sphinx/issues/7659 for why sphinx==2.4