.contentpage .par div.section {
  padding: 8px 0 0 0;
}

.formpage .par div.section {
  padding: 8px 0 0 0;
}

.pensioners .par div.section {
  padding: 8px 0 0 0;
}

.homepage .par div.section {
  padding: 8px 0 0 0;
}

.htmlpage .par div.section {
  padding: 8px 0 0 0;
}

.bienestar .par div.section {
  padding: 8px 0 0 0;
}

.phase2 .par div.section {
  padding: 8px 0 0 0;
}

div.logo img {
  margin: 28px 0 0 16px;
}

.announcementpage .par div.section {
  padding: 8px 0 0 0;
}

.datagridpage .par div.section {
  padding: 8px 0 0 0;
}

.datagridpage .datagriditems .par div.section {
  padding: 8px 0 0 0;
}

.itservicespage .par div.section {
  padding: 8px 0 0 0;
}

