################################################################################
# Parameters regarding the simulated "observation"

OBS_DATE                0           # [dd/mm/yyyy] Date of the observation [not yet implemented]
OBS_TIME                0           # [hh:mm:ss] Time of the observation [not yet implemented]
OBS_RA                  245.885625  # [deg] RA of the object [not yet implemented]
OBS_DEC                 -26.53835   # [deg] Dec of the object [not yet implemented]
OBS_ALT                 0           # [deg] Altitude of the object [not yet implemented]
OBS_AZ                  0           # [deg] Azimuth of the object [not yet implemented]
OBS_ZENITH_DIST         0           # [deg] from zenith
OBS_PARALLACTIC_ANGLE   0           # [deg] rotation of the source relative to the zenith
OBS_SEEING              0.6         # [arcsec]

OBS_BG_STAR_DENSITY     GalNP       # ["none", "2MASS", "GalNP", "GalCen", "GalAntiCen"] 

OBS_EXPTIME             10          # [sec] simulated exposure time
OBS_NDIT                1           # [#] number of exposures taken
OBS_NONDESTRUCT_TRO     2.6         # [sec] time between non-destructive readouts in the detector
OBS_REMOVE_CONST_BG     no          # remove the minimum background value
OBS_READ_MODE           single      # [single, fowler, ramp] Only single is implemented at the moment
OBS_SAVE_ALL_FRAMES     no          # yes/no to saving all DITs in an NDIT sequence

OBS_INPUT_SOURCE_PATH   none        # Path to input Source FITS file
OBS_FITS_EXT            0           # the extension number where the useful data cube is

OBS_OUTPUT_DIR          "./"        # ["default"] Path to save output in. Default is "./"

OBS_OUT_SIGNAL          yes         # yes/no to saving the signal component of the observation
OBS_OUT_NOISE           yes         # yes/no to saving the noise component of the observation
OBS_OUT_READOUT         yes         # yes/no to saving the readout component of the observation
OBS_OUT_REDUCED         yes         # yes/no to saving a background subtracted readout image


################################################################################
# Parameters relating to the simulation

SIM_DETECTOR_PIX_SCALE  0.106       # [arcsec] plate scale of the detector
SIM_OVERSAMPLING        1           # The factor of oversampling inside the simulation
SIM_PIXEL_THRESHOLD     1           # photons per pixel summed over the wavelength range. Values less than this are assumed to be zero

SIM_LAM_TC_BIN_WIDTH    0.001       # [um] wavelength resolution of spectral curves
SIM_SPEC_MIN_STEP       1E-4        # [um] minimum step size where resampling spectral curves

SIM_FILTER_THRESHOLD    1E-9        # transmission below this threshold is assumed to be 0
SIM_USE_FILTER_LAM      yes         # yes/no to basing the wavelength range off the filter non-zero range - if no, specify LAM_MIN, LAM_MAX
# if "no"
SIM_LAM_MIN             1.9         # [um] lower wavelength range of observation
SIM_LAM_MAX             2.41        # [um] upper wavelength range of observation
SIM_LAM_PSF_BIN_WIDTH   0.1         # [um] wavelength resolution of the PSF layers
SIM_ADC_SHIFT_THRESHOLD 1           # [pixel] the spatial shift before a new spectral layer is added (i.e. how often the spectral domain is sampled for an under-performing ADC)

SIM_PSF_SIZE            511         # size of PSF
SIM_PSF_OVERSAMPLE      no          # use astropy's inbuilt oversampling technique when generating the PSFs. Kills memory for PSFs over 511 x 511
SIM_VERBOSE             no          # [yes/no] print information on the simulation run
SIM_SIM_MESSAGE_LEVEL   3           # the amount of information printed [5-everything, 0-nothing]

SIM_OPT_TRAIN_IN_PATH   none        # Options for saving and reusing optical trains. If "none": "./"
SIM_OPT_TRAIN_OUT_PATH  none        # Options for saving and reusing optical trains. If "none": "./"
SIM_DETECTOR_IN_PATH    none        # Options for saving and reusing detector objects. If "none": "./"
SIM_DETECTOR_OUT_PATH   none        # Options for saving and reusing detector objects. If "none": "./"

SIM_MAX_RAM_CHUNK_GB   2            # Maximum amount of RAM to be taken up by one a single object
SIM_SPEED              10           # 10 = Fast, but skips on details, 1 = Slow, but does everything as accurately as possible
SIM_NUM_CPUS           -1           # Number of CPUs to use for multicore computations. -1 = all idle cores


################################################################################
# General atmospheric parameters

ATMO_USE_ATMO_BG        yes         # [yes/no] 

ATMO_TC                 TC_sky_25.tbl     # [<filename>] for atmospheric transmission curve.
ATMO_EC                 EC_sky_25.tbl     # [<filename>, "none"] for atmospheric emission curve.
ATMO_BG_MAGNITUDE       13.6              # [ph/s] background photons for the bandpass if ATMO_EC = None

ATMO_TEMPERATURE        0           # deg Celcius
ATMO_PRESSURE           750         # millibar
ATMO_REL_HUMIDITY       60          # %



################################################################################
# Parameters regarding the telescope

SCOPE_ALTITUDE          2635        # meters above sea level
SCOPE_LATITUDE          -24.589167  # decimal degrees
SCOPE_LONGITUDE         -70.192222  # decimal degrees

SCOPE_PSF_FILE          HAWK-I_config/PSF_HAWKI_poppy.fits     # ["scao" (default), <filename>, "ltao", "mcao", "poppy"] import a PSF from a file. Default is <pkg_dir>/data/PSF_SCAO.fits
SCOPE_STREHL_RATIO      1           # [0..1] defines the strength of the seeing halo if SCOPE_PSF_FILE is "default"
SCOPE_AO_EFFECTIVENESS  100         # [%] percentage of seeing PSF corrected by AO - 100% = diff limited, 0% = 0.8" seeing
SCOPE_JITTER_FWHM       0.001       # [arcsec] gaussian telescope jitter (wind, tracking)
SCOPE_DRIFT_DISTANCE    0           # [arcsec/sec] the drift in tracking by the telescope
SCOPE_DRIFT_PROFILE     linear      # [linear, gaussian] the drift profile. If linear, simulates when tracking is off. If gaussian, simulates rms distance of tracking errors

SCOPE_USE_MIRROR_BG     yes         # [yes/no]

SCOPE_NUM_MIRRORS       3           # number of reflecting surfaces
SCOPE_M1_TC             TC_mirror_aluminium.dat     # [<filename>, "default"] Mirror reflectance curve. Default is <pkg_dir>/data/TC_mirror_mgf2agal.dat
SCOPE_MIRROR_LIST       HAWK-I_config/EC_hawki_vlt_mirrors.tbl     # [<filename>, "default"] List of mirror sizes. Default is <pkg_dir>/data/EC_mirrors_scope.tbl

SCOPE_TEMP              0           # Outdated - does nothing in SimCADO >0.4. #deg Celsius - temperature of mirror


################################################################################
# Parameters regarding the instrument

INST_TEMPERATURE        -130                # deg Celsius - inside temp of instrument

INST_ENTR_NUM_SURFACES  4                   # number of     s on the entrance window
INST_ENTR_WINDOW_TC     TC_window.dat       # [<filename>] Default: <pkg_dir>/data/TC_window.dat --> transmission = 0.98 per surface

INST_DICHROIC_NUM_SURFACES  2               # number of surfaces on the entrance window
INST_DICHROIC_TC        TC_dichroic.dat     # [<filename>] Default: <pkg_dir>/data/TC_dichroic.dat --> transmission = 1

INST_FILTER_TC          HAWK-I_config/TC_Ks_HAWKI.dat          # [<filename>, string(filter name)] List acceptable filters with >>> simcado.optics.get_filter_set()

INST_PUPIL_NUM_SURFACES 2                   # number of surfaces on the pupil window
INST_PUPIL_TC           TC_pupil.dat        # [<filename>] Default: <pkg_dir>/data/TC_pupil.dat --> transmission = 1

INST_NUM_MIRRORS        4                   # number of reflecting surfaces in MICADO
INST_MIRROR_TC          HAWK-I_config/TC_hawki_mirror.dat     # If "default", INST_MIRROR_TC = SCOPE_M1_TC

INST_USE_AO_MIRROR_BG   no                  # [yes/no]
INST_AO_TEMPERATURE     0                   # deg Celsius - inside temp of AO module
INST_NUM_AO_MIRRORS     0                   # number of reflecting surfaces between telescope and instrument (i.e. MAORY)
INST_MIRROR_AO_TC       TC_mirror_aluminium.dat             # If "default", INST_MIRROR_AO_TC = SCOPE_M1_TC
INST_MIRROR_AO_LIST     none                # List of mirrors in the AO. If "default", INST_MIRROR_AO_LIST = <pkg_dir>/data/EC_mirrors_ao.tbl

INST_ADC_PERFORMANCE    0                   # [%] how well the ADC does its job
INST_ADC_NUM_SURFACES   0                   # number of surfaces in the ADC
INST_ADC_TC             none                # transmission curve of the ADC. If "default": <pkg_dir>/data/TC_ADC.dat --> transmission = 0.98

INST_DEROT_PERFORMANCE  100                 # [%] how well the derotator derotates
INST_DEROT_PROFILE      linear              # [linear, gaussian] the profile with which it does it's job

INST_DISTORTION_MAP     none                # path to distortion map
INST_WFE                HAWK-I_config/INST_hawki_wfe.tbl       # [nm] (float or filename) A single number for the total WFE of a table of wavefront errors for each surface in the instrument


################################################################################
# General detector parameters

FPA_USE_NOISE           yes         # [yes/no]

FPA_READOUT_MEDIAN      12          # e-/px
FPA_READOUT_STDEV       1           # e-/px
FPA_DARK_MEDIAN         0.01        # e-/s/px
FPA_DARK_STDEV          0.01        # e-/s/px

FPA_QE                  TC_hawki_H2RG.dat     # Quantum efficiency of detector. If "default": <package_path>/data/TC_detector_H4RG.dat
FPA_NOISE_PATH          FPA_noise.fits        # [default/generate/filename] if "generate": use NGHxRG to create a noise frame. If "default": <package_path>/data/FPA_noise.fits

FPA_WELL_DEPTH          1E5         # number of photons collectable before pixel is full
FPA_LINEARITY_CURVE     FPA_hawki_linearity.dat     # [<filename>, "none", "default"] If "default": <package_path>/data/FPA_linearity.dat

FPA_PIXEL_MAP           none        # path to a FITS file with the pixel sensitivity map
# if FPA_PIXEL_MAP == none
FPA_DEAD_PIXELS         1           # [%] if FPA_PIXEL_MAP=none, a percentage of detector pixel which are dead
FPA_DEAD_LINES          1           # [%] if FPA_PIXEL_MAP=none, a percentage of detector lines which are dead

FPA_CHIP_LAYOUT         HAWK-I_config/FPA_hawki_layout_cen.dat       # ["small", "centre", "wide", "zoom", <filename>] description of the chip layout on the detector array.


################################################################################
# NXRG Noise Generator package parameters
# See Rauscher (2015) for details
# http://arxiv.org/pdf/1509.06264.pdf

HXRG_NUM_OUTPUTS        32          # Number of
HXRG_NUM_ROW_OH         8           # Number of row overheads
HXRG_PCA0_FILENAME      FPA_nirspec_pca0.fits     # if "default": <pkg_dir>/data/FPA_nirspec_pca0.fits
HXRG_OUTPUT_PATH        none        # Path to save the detector noise
HXRG_PEDESTAL           4           # Pedestal noise
HXRG_CORR_PINK          3           # Correlated Pink noise
HXRG_UNCORR_PINK        1           # Uncorrelated Pink noise
HXRG_ALT_COL_NOISE      0.5         # Alternating Column noise